<h4>Subject Overall Score:</h4>
<h5>
    <i class="bi bi-star-fill" style="color:gold"></i>
    @if (ViewBag.OverallScore != null)
    {
        @Math.Round((double)ViewBag.OverallScore, 1)
    }

</h5>
<h4>Total Number of Files:</h4>
<h5><i class="bi bi-arrow-90deg-up" style="color:red"></i>@ViewBag.TotalNumberOfFiles</h5>
@if (@ViewBag.MostActiveUser != null)
{
    <h4>Most Active User: </h4>
    <h5>
        @ViewBag.MostActiveUser.FirstName @ViewBag.MostActiveUser.LastName
        <br />
        <i class="bi bi-arrow-return-right" style="color:red"></i><i>@ViewBag.MostActiveUser.UserName</i>
    </h5>
    <h4>Number of Uploads by Most Active User: </h4>
    <h5><i class="bi bi-arrow-90deg-up" style="color:red"></i>@ViewBag.MostActiveUserUploadCount</h5>


}
@if (User.IsInRole("User"))
{
    <button id="addUploadButton" data-toggle="modal" data-target="#createUploadModal" class="btn btn-info" style="font-size:1.2em">
        <i class="bi bi-box-arrow-up" style="font-size:1.2em"></i>
        Upload File
    </button>
}

