@model List<Koleg.io.Models.Subject>
@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/css/IndexStyle.css" rel="stylesheet" />
    <link href="~/Content/css/home.css" rel="stylesheet" />

    <script>
        window.onload = function () {
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");

                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }

                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }

                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }

                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";

                // Increase the slideIndex for the next iteration
                slideIndex++;

                // Call the function recursively after a delay
                setTimeout(function () {
                    showSlides(slideIndex);
                }, 1500); // Adjust the delay as needed
            }
        }
    </script>
    <style>

    </style>
</head>
<main>
    <div class="jumbotron">
        <h1 id="title">Welcome to Koleg.io</h1>
    </div>



    <div class="container mt-4">
        <div class="row">
            <!-- Cards container (on the right) -->
            <div class="col-md-6">
                <!-- Card 1 -->
                <div class="card" style="background-color: #aec6cf; color: #000;">
                    <img src="https://www.sodapdf.com/blog/wp-content/uploads/2019/06/file-sharing-1024x480.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Academic Support</h5>
                        <p class="card-text">Explore the subjects your Kolegi can assist you with during your college journey. Receive personalized guidance and support to excel in your studies.</p>
                    </div>
                    @Html.ActionLink("Register", "Register", "Account", new { id = 0 }, new { @class = "btn btn-info" })
                </div>
            </div>
            <div class="col-md-6">
                <!-- Card 2 -->
                <div class="card" style="background-color: #d8bfd8; color: #000;">
                    <img src="https://www.studentsupport.cam.ac.uk/sites/www.studentsupport.cam.ac.uk/files/styles/leading/public/work_1.jpg?itok=8G11z54-" />
                    <div class="card-body">
                        <h5 class="card-title">Collaborative File Sharing</h5>
                        <p class="card-text">Empower your Kolegi community by contributing to the knowledge pool. Easily upload and share valuable files to aid your peers in their academic endeavors.</p>
                    </div>
                    @Html.ActionLink("Discover More", "Index", "Subjects", new { id = 0 }, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
    <section class="row text-center" aria-labelledby="aspnetTitle">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="~/Content/Images/picture6.svg" style="width: 100%;">
            </div>

            <div class="mySlides fade">
                <img src="~/Content/Images/picture9.svg" style="width: 100%;">
            </div>

            <div class="mySlides fade">
                <img src="~/Content/Images/picture10.svg" style="width: 100%;">
            </div>

            <div style="text-align: center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </section>
    <div class="container mt-4">
        <div class="jumbotron text-center" ">
            <h1>Top Rated Subjects</h1>
        </div>
        <div class="row d-flex justify-content-center">
            @foreach (var subject in Model)
            {

                <div class="col-md-4 mb-2">
                    <div class="my-card">
                        @*                        <img class="" src="~/Content/Images/laptop.jpg" />
                        *@                        <div class="card-body">
                            <h2 style="align-self:center" class="card-title lead text-center text-black">
                                <i class="bi bi-laptop" style="font-size: 2.5em;"></i>
                            </h2>
                            <h2 style="align-self:center" class="card-title lead text-center text-black">
                                @Html.DisplayFor(modelItem => subject.Name)
                            </h2>
                            <h5 class="text-center card-text">
                                <i class="bi bi-star-fill" style="color:gold"></i>
                                @Math.Round((double)subject.Uploads
                                                            .Where(upload => upload.IsApproved)
                                                            .SelectMany(upload => upload.Reviews)
                                                            .DefaultIfEmpty()
                                                            .Average(review => review != null ? review.Rating : 0), 1)
                            </h5>
                            @Html.ActionLink("Files", "Details", "Subjects", new { id = subject.Id }, new { @class = "btn btn-info btn-block" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>



@section Scripts{
    <script>
         $(".js-login").on("click", function () {
                var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
                console.log(isAuthenticated)

                if (isAuthenticated !== true) {
                    bootbox.confirm({
                        message: "You need to be logged in to rate this file!",
                        closeButton: false,
                        buttons: {
                            confirm: {
                                label: 'Log in',
                                className: 'btn-success',
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-secondary'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                var currentUrl = window.location.href;
                                var das = currentUrl.split("/Subjects")
                                var returnUrl = "/Subjects/Index/0"
                                window.location.href = '/Account/Login?returnUrl=' + returnUrl;
                            }
                        }
                    })
                }
            })
    </script>
}
