@model Koleg.io.Models.Comment

@{
    ViewBag.Title = "AddComment";
}

<h2>Add Comment</h2>

@using (Html.BeginForm("AddComment", "Uploads", FormMethod.Post))
{
    @*@Html.HiddenFor(model => model.UploadId)  
    @Html.HiddenFor(model => model.UserId) 
    <h4>@Model.User.FirstName @Model.User.LastName</h4>

    <div class="form-group">
        @Html.LabelFor(model => model.CommentText)
        @Html.TextAreaFor(model => model.CommentText, new { @class = "form-control" })
    </div>

    <input type="submit" value="Add Comment" class="btn btn-info" />*@
}


