@model IEnumerable<Koleg.io.Models.Upload>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Uploaded Files</h2>


@foreach (var file in Model)
{
    <div class="card col-md-4 mb-4" id="fileCard_@file.Id">
        <div class="card-body">
            <h6 class="card-title">
                @Html.DisplayFor(model => file.User.FirstName)
                @Html.DisplayFor(model => file.User.LastName)
            </h6>
            <h5>
                @Html.ActionLink(file.FileName, "DownloadFile", new { id = file.Id })
            </h5>
            <p class="card-text">@Html.DisplayFor(modelItem => file.Description)</p>
            <div class="text-center">
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Attach a click event handler to the card element
        $(".card").click(function () {
            // Get the id from the id attribute
            var id = $(this).attr("id").split("_")[1];

            // Redirect to the desired view using JavaScript
            window.location.href = "/Uploads/Details/" + id; // Replace ControllerName and ActionName
        });
    });
</script>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileData)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileData)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
*@

