@model List<Koleg.io.Models.Upload>

@{
    ViewBag.Title = "Your Uploads";
}
<style>
    .btn-container {
        display: flex;
        gap: 10px; /* Adjust the gap between buttons as needed */
        justify-content:center;
    }

    .btn-common-size {
        width: 100px; /* Adjust the width as needed */
        height: 30px; /* Adjust the height as needed */
        display: flex;
        align-items: center;
        justify-content: center; /* Optional: horizontally center the content */
        font-size: 14px; /* Adjust the font size as needed */
    }
 

    /* Add these styles for centering */
    .table-container {
        display: flex;
        justify-content: center;
        
    }
    td{
        text-align:center;
    }
</style>
<div id="editSubjectModal" tabindex="-1" class="modal fade" role="dialog">

</div>
<div class="table-container">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover" id="uploadsTable">
            <thead class="text-center">
                <tr>
                    <th><h4>File Name</h4></th>
                    <th><h4>Actions</h4></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <td>
                                <h5>
                                    @file.FileName
                                </h5>
                        </td>

                        <td class="btn-container">
                            <div class="btn-group">
                                @Html.ActionLink("Download", "DownloadFile", new { id = file.Id }, new { @class = "btn btn-info btn-sm btn-common-size" })
                                @if (file.IsApproved)
                                {
                                    @Html.ActionLink("Details", "Details", new { id = file.Id }, new { @class = "btn btn-info btn-sm btn-common-size" })
                                }
                                @if (!file.IsApproved)
                                {
                                    <button class="btn btn-light btn-common-size">Not Approved </button>
                                }

                                <button data-edit-id="@file.Id" class="btn btn-info btn-common-size edit">Edit</button>
                                <button data-table-id="@file.Id" class="btn btn-danger btn-common-size js-delete">Delete</button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
<div class="text-center">
    <img src="~/Pictures/empty_folder.png" alt="Empty Folder" width="150" height="150">
    <h2>Oops! It looks like your upload folder is as empty as a black hole in space.</h2>
    <p>Start sharing your files!</p>
</div>
    }
</div>


@section Scripts{
    <script>
        $(document).ready(function () {

            // Delete action
            $(".js-delete").on("click", function () {
                console.log("delete");
                var button = $(this);
                bootbox.confirm({
                    message: "Are you sure you want to delete this upload?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Uploads/Delete/" + button.attr("data-table-id"),
                                method: "GET",
                                success: function () {
                                    button.closest('tr').remove();
                                }
                            });
                        }
                    },
                    closeButton: false  // Set closeButton option to false to hide the close (X) button
                });
            });

            $(".edit").on("click", function () {
                var button = $(this);
                console.log(button);
                $.ajax({
                    url: '/Uploads/Edit/' + button.attr("data-edit-id"),
                    type: 'GET',
                    success: function (data) {
                        $('#editSubjectModal').html(data);
                        $('#editSubjectModal').modal('show');
                    },
                    error: function () {
                        alert('Error occurred while fetching data.');
                    }
                });
            });

            // Hide the edit modal when the form is submitted
            $("#editSubjectForm").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/Uploads/Edit", // Adjust the URL as needed
                    method: "POST",
                    data: $(this).serialize(),
                    success: function () {
                        $("#editSubjectModal").modal("hide");
                        // You may want to refresh or update the subject list on success.
                    },
                    error: function () {
                        alert('Error occurred while updating the subject.');
                    }
                });
            });
        });
    </script>

}